* {
  font-family: "Raleway", sans-serif;
  margin: 0px;
}
/* ------------Header part style------------ */
.header {
  background: linear-gradient(rgba(0, 0, 0, 0.789), rgba(0, 0, 0, 0.556)),
    url(./images/Header\ Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}

/* NavBar style */
.navbar {
 
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  margin-bottom: 40px;
  margin-left: 80px;
  margin-right: 80px;
  align-items: center;
}
.logo-image {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: rgb(209, 213, 164);
  gap: 15px;
  cursor: pointer;
}

.logo-image > img {
  width: 75px;
}
.nav-items {
  gap: 10px;
  display: flex;
  list-style: none;
  font-size: 18px;
}
.nav-items > li > button a {
  color: rgb(249, 251, 247);
  text-decoration: none;
  font-size: 18px;
}

.nav-items > li > button {
  background-color: rgba(155, 226, 55, 0.004);
  border: 0px;
  padding-left: 10px;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
}
.nav-items > li > button:hover {
  background-color: rgba(155, 226, 55, 0.304);
}
/* Nav bar style is completed  */
.menu {
  display: none;
}

/* Header text styles */
.header-content{
   margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 3px;
  margin-top: 80px;
  padding-bottom: 350px;
}
.Header-text{
  text-align: center;
 background: linear-gradient(rgba(130, 133, 103, 0.168),rgba(173, 186, 137, 0.212));
  padding: 40px;
  border-radius: 20px;
  color: rgb(245, 239, 226);
}
.Header-text>p{
  padding-top: 20px;
  padding-bottom: 50px;
}
.Header-text>button>a{
  text-decoration: none;
  color: rgb(242, 246, 195);
  font-size: large;
}
.Header-text>button{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  border: 4px solid rgb(212, 212, 40);
  background: #9d9c9c00;
  cursor: pointer;
}
 /* ----------Header part style is completed ------------- */

 /* About Section Style  */


 .about-section{
  /* this is the section container  */
  background-color: rgba(128, 128, 128, 0.175);
  padding-top: 30px;
  
 }
.aboutSection{
  display: flex;
  
  gap: 40px;
  padding-left: 80px;
  padding-right: 80px;
}
.about{
  /* it is the agent image  */
  width: 550px;
}
.about-content{
  padding-top: 80px;
}
.about-content-heading{
  margin-right: 290px;
  border-radius: 10px;
  background-color: rgba(76, 225, 225, 0.395);
}
.about-content-heading>h1{
  padding: 20px;
  font-size: 40px;
}
.about-content>p{
  
  padding-top: 20px;
  font-size: 18px;
}
.about-content>img{
  padding-top: 20px;
}
.signature{
  width: 100px;
}
 /* About Section Style  Completed */


  /* Work area section style  */

  .work-area{
    background-color: rgba(162, 226, 226, 0.556);
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .work-area>h1{
    text-align: center;
    font-size: 35px;
  }
  .work-area>p{
    margin-left: 180px;
    margin-right: 180px;
    padding-top: 15px;
    text-align: center;
    font-size: 20px;   
    color: rgba(43, 116, 43, 0.923);
  }
  .working-area-container{
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }



  .area{
    box-shadow: 10px 5px 5px rgba(236, 178, 111, 0.5);
    border-radius: 10px;
    border: 4px solid rgb(255, 158, 89);
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .area-detail{
  
    padding-top: 10px;
    padding-bottom: 10px;

  }
  .area-detail>p{
    padding-top: 10px;

  }
  .area>img{
    width: 120px;
  }
  /* Work area section style ends  */



  /* Team of financial  */

  .team-sec{
    padding: 0px 80px 0px 80px;
    background-color: rgba(8, 235, 182, 0.269);
  }
  .team-sec>h1{
    padding: 50px 0px 30px 0px;
    text-align: center;
    font-size: 40px;
  }
  .team-sec>p{
    text-align: center;
    font-size: 18px;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 50px;
    color: rgba(83, 78, 40, 0.794);
  }
  /* employee introduction  */
  .social-icons{
    width: 60px;
    height: 30px;
  }
  .expert-container{
    display: flex;
    justify-content: space-around;
  }
  .experts>img{
    width: 350px;
    border-radius: 10px;
  }
  .experts>p{
    padding :5px;
    position: relative;
    bottom: 90px;
    text-align: center;
    color: rgb(91, 101, 44);
    background-color: rgba(240, 255, 240, 0.746);
    margin: 0px 80px 0px 80px;
    border-radius: 10px;
  }
  .social-1{
    background-color: rgb(240, 224, 116);
    position:relative;
    
    border-radius: 50px;
    height: 50px;
    width:  50px;
    bottom: 85px;
    left:  60px;
    overflow: hidden;
  }
  .social-1>a>img{
    width: 318px;
    position: relative;
    bottom: 66px;
    right:19px ;

  }
  .social-1>a>img:hover{
    bottom:127px;
    transition-property: bottom;
    transition-duration: 500ms;
  }
  .social-2{
    background-color: rgb(240, 224, 116);
    position:relative;
    
    border-radius: 50px;
    height: 50px;
    width:  50px;
    bottom: 136px;
    left: 120px;
    overflow: hidden;
  }
  .social-2>a>img{
    width: 318px;
    position: relative;
    bottom: 65px;
    right:77px ;

  }
  .social-2>a>img:hover{
    bottom:126px;
    transition-property: bottom;
    transition-duration: 500ms;
  }
  .social-3{
    background-color: rgb(240, 224, 116);
    position:relative;
    
    border-radius: 50px;
    height: 50px;
    width:  50px;
    bottom: 186px;
    left: 180px;
    overflow: hidden;
  }
  .social-3>a>img{
    width: 318px;
    position: relative;
    bottom: 65px;
    right:134px ;

  }
  .social-3>a>img:hover{
    bottom:126px;
    transition-property: bottom;
    transition-duration: 500ms;
  }
  .social-4{
    background-color: rgb(240, 224, 116);
    position:relative;    
    border-radius: 50px;
    height: 50px;
    width:  50px;
    bottom: 236px;
    left: 240px;
    overflow: hidden;
  }
  .social-4>a>img{
    width: 318px;
    position: relative;
    bottom: 65px;
    right:191.5px ;

  }
  .social-4>a>img:hover{
    bottom:126px;
    transition-property: bottom;
    transition-duration: 500ms;
  }
  
  /* Team of financial ends */
/* why us section style  */
.whyusholder{
  background-color: rgba(211, 209, 204, 0.723);
  padding: 0px 80px 30px 80px ;
  display: flex;
  gap: 30px;
}
.why-us-image>img{
  width: 600px;
  height: 550px;
  border-radius: 10px;
}

.why-detail>h1{
  padding: 50px 0px 20px 0px;
  font-weight: 700;
  font-size: 35px;
}
.why-detail>p{
  
  font-size: 15px;
}
.why-detail>hr{
  border: 2px solid yellowgreen;
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.imgsection{
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  row-gap: 20px;
  column-gap: 20px;
}
.case>img{
  width: 80px;
}
.case>p{
font-size: 10px;}

 /* why us section style ends */



/* footer section  */

.footer-container{
  background-color: rgb(95, 92, 87);
  display: grid;
  grid-template-columns: repeat(3,1fr);
 padding: 10px 80px 30px 80px;
 column-gap: 50px;
 color: rgb(199, 185, 166);

}
.logo-container{
  padding-bottom:15px ;
  align-items: center;
  display: flex;
}
.logo-container>img{
  width: 50px;
  padding-right: 10px;
}
.logo-container>h1{
  color: rgb(199, 185, 166);
 font-size: 20px;
}
.social-link{
  padding-top: 30px;

}
.facebook{
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 16px;
  
}
.facebook>a>img{
  position: relative;
  left: -13px;
  bottom: 42px;
width: 199px;

}
.facebook>a>img:hover{
  bottom: 80px;
  transition-property: bottom;
  transition-duration: 500ms;

}
.twitter{
  position: relative;
  left: 40px;
  bottom: 30px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 16px;
  /* border: 2px solid; */
  
}
.twitter>a>img{
  position: relative;
  left: -48.8px;
  bottom: 42px;
width: 199px;

}
.twitter>a>img:hover{
  bottom: 80px;
  transition-property: bottom;
  transition-duration: 500ms;

}
.linkedin{
  position: relative;
  left: 80px;
  bottom: 60px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 16px;
  /* border: 2px solid; */
}
.linkedin>a>img{
  position: relative;
  left: -84.6px;
  bottom: 42px;
width: 199px;

}
.linkedin>a>img:hover{
  bottom: 80px;
  transition-property: bottom;
  transition-duration: 500ms;

}
.youtube{
  position: relative;
  left: 120px;
  bottom: 90px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 16px;
  /* border: 2px solid;   */
}
.youtube>a>img{
  position: relative;
  left: -157.4px;
  bottom: 42px;
width: 199.5px;

}
.youtube>a>img:hover{
  bottom: 80px;
  transition-property: bottom;
  transition-duration: 500ms;

}
.blogPost>h1{
  font-size: 20px;
}
.blogPost{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
 
}
.blog>a{
  padding: 10px 0px 10px 0px;
  display: flex;
  align-items: center;
  
}
.blog>a>img{
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
.blog>a{
  text-decoration: none;
}
.blog>a>h1{

  padding-left: 5px;
  font-size: 16px;
  text-decoration: none;
  color: rgb(199, 185, 166);
}
.contact>h1{
 font-size: 20px;
 padding-top: 10px;
 padding-bottom: 20px;
}
.contact>p{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-size: 16px;
 padding-top: 10px;
 padding-bottom: 10px;
}
.contact>p>span{
 padding-right: 10px;
}
.copy-right{
  text-align: center;
  background-color: rgba(22, 20, 19, 0.859);
  font-size: 16px;
  color: antiquewhite;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* footer section  end*/





@media screen and (max-width: 600px) {
  /* NavBar style */
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 40px;
   
    align-items: center;
  }
  .logo-image {
    position: relative;
    right: 60px;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: rgb(209, 213, 164);
    gap: 15px;
    cursor: pointer;
  }

  .logo-image > img {
    width: 50px;
  }
  .nav-items {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 18px;
    text-align: center;
    padding-left: 0px;
   padding-top: 20px;
  }
  .nav{
      display: none;
  }

  .menu {
    color: rgb(189, 239, 175);
    display: block;
    position: absolute;
    bottom: 595px;
    left: 285px;
    font-size: 24px;
    cursor: pointer;
    top: 30px;
  }
  
}
